<h5>Todos > New</h5>
<hr />

<mat-card class="pageCard">
  <mat-card-content>
    <button type="button" class="buttonBase buttonBack" (click)="onBack()">
      <mat-icon> chevron_left</mat-icon>
      Back
    </button>

    <form
      *ngIf="todoForm"
      [formGroup]="todoForm"
      (ngSubmit)="onSubmit()"
      class="formContainer"
    >
      <div class="inputContainer inputContainerFull">
        <label for="name" class="labelText">Name of todo</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="inputField"
        />
      </div>

      <div class="inputContainer">
        <label for="idCategory" class="labelText">Category</label>
        <select
          type="text"
          id="idCategory"
          formControlName="idCategory"
          class="inputField"
        >
          <option
            *ngFor="let category of categories$ | async"
            [value]="category.id"
          >
            {{ category.name }}
          </option>
        </select>
      </div>

      <div class="inputContainer">
        <label for="idSubcategory" class="labelText">Subategory</label>
        <select
          type="text"
          id="idSubcategory"
          formControlName="idSubcategory"
          class="inputField"
        >
          <option
            *ngFor="let subcategory of subcategories$ | async"
            [value]="subcategory.id"
          >
            {{ subcategory.name }}
          </option>
        </select>
      </div>

      <div class="inputContainer">
        <label for="sku" class="labelText">Sku</label>
        <input type="text" id="sku" formControlName="sku" class="inputField" />
      </div>

      <div class="inputContainer">
        <label for="price" class="labelText">Price</label>
        <input
          type="number"
          id="price"
          formControlName="price"
          class="inputField"
        />
      </div>

      <div class="inputContainer inputContainerFull">
        <label for="description" class="labelText">Description</label>
        <textarea
          type="text"
          id="description"
          class="inputField"
          formControlName="description"
          rows="6"
        ></textarea>
      </div>

      <div class="submitContainer">
        <button
          type="button"
          class="buttonBase buttonCancel"
          (click)="onCancel()"
        >
          <mat-icon>cancel</mat-icon>
          Cancel
        </button>
        <button type="submit" class="buttonBase" [disabled]="!todoForm.valid">
          <mat-icon>add_circle</mat-icon>
          Add todo
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
