<h5>Todos > New</h5>
<hr />

<mat-card class="pageCard">
  <mat-card-content>
    <button
      type="button"
      class="fc-button fc-button-primary"
      (click)="onBack()"
    >
      <mat-icon> chevron_left</mat-icon>
      Back
    </button>

    <div class="spacer"></div>

    <form
      *ngIf="todoForm"
      [formGroup]="todoForm"
      (ngSubmit)="onSubmit()"
      class="formContainer"
    >
      <div class="inputContainer inputContainerFull">
        <label for="title" class="labelText">Name of todo</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          class="form-control inputField"
        />
      </div>

      <div class="inputContainer">
        <label for="categoryId" class="labelText">Category</label>
        <select
          type="text"
          id="categoryId"
          name="categoryId"
          formControlName="categoryId"
          class="form-control inputField"
        >
          <option
            *ngFor="let category of categories$ | async"
            [value]="category.id"
          >
            {{ category.name }}
          </option>
        </select>
      </div>

      <div class="inputContainer">
        <label for="tagId" class="labelText">Tag</label>
        <select
          type="text"
          id="tagId"
          name="tagId"
          formControlName="tagId"
          class="form-control inputField"
        >
          <option *ngFor="let tag of tags$ | async" [value]="tag.id">
            {{ tag.name }}
          </option>
        </select>
      </div>

      <div class="inputContainer">
        <label for="statusId" class="labelText">Status</label>
        <select
          type="text"
          id="statusId"
          name="statusId"
          formControlName="statusId"
          class="form-control inputField"
        >
          <option *ngFor="let item of status$ | async" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>

      <div class="inputContainer inputContainerFull">
        <label for="description" class="labelText">Description</label>
        <textarea
          type="text"
          id="description"
          class="form-control inputField"
          formControlName="description"
          rows="6"
        ></textarea>
      </div>

      <div class="submitContainer">
        <button
          type="button"
          class="fc-button fc-button-primary"
          (click)="onCancel()"
        >
          <mat-icon>cancel</mat-icon>
          Cancel
        </button>
        <button type="submit" class="fc-button fc-button-primary" [disabled]="!todoForm.valid">
          <mat-icon>add_circle</mat-icon>
          Add todo
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
