<div class="content__section content__error">
    <div class="content__error__wrapper">
        <div class="content__error__content">
            <h2 class="content__error__title">404</h2>
            <h3 class="content__error__subtitle">Page Not Found</h3>     
            <p class="content__error__desc">Sorry, the page you seems looking for, has been moved, redirected or removed permanently.</p>
            <a class="btn" [routerLink]="['/']"> Back to Homepage</a>
        </div><!-- .page-content -->
    </div>
</div>