<div class="content__section content__form table-responsive">
    <table class="table-reviews-1">
        <thead>
            <tr style="width: 100%;">
                <th style="width: 20%;">Name</th>
                <th style="width: 20%;">Designation</th>
                <th style="width: 20%;">Company</th>
                <th style="width: 20%;">Phone</th>
                <th style="width: 20%;">Email</th>
            </tr>
        </thead>
        <tbody class="">
            <tr *ngFor="let data of TableData">
                <td>
                    <div class="author-area">
                        <div class="profile-picture">
                            <img src="{{data.profile}}" alt="reviews">
                        </div>
                        <p>{{data.name}}</p>
                    </div>
                </td>
                <td>
                    <span class="designation">{{data.designation}}</span>
                </td>
                <td>
                    <span class="name">{{data.company}}</span>
                </td>
                <td><a href="javascript:void(0);">{{data.phone}}</a></td>
                <td><a href="mailto:webmaster@example.com">{{data.email}}</a></td>
            </tr>
        </tbody>
    </table>
</div>