<div class="listRow">
  <div>
    <img
      [src]="
        getFullImageUrl(product.imageUrl)
          | protectedImage
          | async
          | defaultImage : 'assets/images/nophoto.jpg'
      "
      alt="{{ product.name }}"
      class="imgProduct"
    />
  </div>

  <div class="listBody">
    <h5 class="listTitle">{{ product.name }}</h5>
    <p class="listText"><b>Sku:</b> {{ product.sku }}</p>
  </div>

  <div class="listBody">
    <div>{{ product.categoryDto.name }}</div>
  </div>

  <div class="listBody">
    <div>{{ product.price | currencyFormat }}</div>
  </div>


</div>
