<div mat-dialog-actions style="justify-content: right;">
  <button mat-button (click)="closeDialog()">Close</button>
</div>
<div mat-dialog-content>
  <div class="row" *ngIf="todo$ | async as todo; else loading">
    <div class="row">
      <div class="col-xs-12">
        <img
          [src]="getFullImageUrl(todo.imageUrl)"
          alt="{{ todo.name }}"
          class="img-responsive"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ todo.name }}</h1>
        <h4>{{ todo.description }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">Description</div>
    </div>
  </div>
  <ng-template #loading>
    <p>Caricamento...</p>
  </ng-template>
</div>

