.rowTitle {
  margin-bottom: 0;
}

.rowTitle > div {
  text-align: center;
}

.rowTitle > div:nth-child(1) {
  width: 80%;
  text-align: left;
}

.rowTitle > div:nth-child(2) {
  width: 20%;
  margin-right: 74px;
  text-align: end;
}

.listRow {
  margin-bottom: 0px !important;
  box-shadow: 0px 1px 2px 0px rgb(0, 0, 0, 0.2);
}

.listRow > div {
  text-align: center;
}

.listRow > div:nth-child(1) {
  width: 80%;
  text-align: left;
  padding-left: 18px;
  align-items: center;
  display: flex;
  min-height: 50px;
}

.listRow > div:nth-child(2) {
  width: 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 50px;
  margin-left: auto;
}

.categoryContainer {
  width: 100%;
  height: 30px;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  padding: 4px 10px;
  overflow: hidden;
}

.listBody {
  padding-top: 6px;
}

.listTitle {
  font-size: 17px;
  margin-top: 12px;
  overflow: hidden;
}

.listText {
  font-size: 14px;
}

.valuesContainer {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding: 0px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}

.valuesContainer li {
  display: flex;
  gap: 8px;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0;
  font-weight: normal;
}

.valuesContainer input {
  width: 16px;
  height: 16px;
}
