<div class="authentication-page">
    <main class="content">
		<div class="content__authentication content__authentication--forgot-password">
			<div class="content__authentication__content">
				<div class="content__authentication__content__wrapper">
					<div class="content__authentication__content__logo">
						<a [routerLink]="['/']">
							<img class="logo-lite" src="assets/img/logo-dark.svg" alt="logo">
							<img class="logo-dark" src="assets/img/logo-lite.svg" alt="logo">
						</a>
					</div>
					<form id="signInForm" class="content__authentication__form">
						<h2 class="content__authentication__title">Forgot your password? 👋</h2>
						<p class="content__authentication__desc">Please enter the email address associated with your account and We will email you a link to reset your password.</p>
						<div class="content__authentication__form-group">
							<label for="emailSignIn">Email Address</label>
							<input type="email" id="emailSignIn" name="emailSignIn" placeholder="Enter Your Email" required>
							<i class="uil-envelope"></i>
						</div>
						<button type="submit" class="content__authentication__form-submit">Forget Password</button>
						<a [routerLink]="['/signin']" class="content__authentication__form-submit return-btn">Back to Login</a>
					</form>
				</div>
			</div>	
			<div class="content__authentication__img">
				<img src="./assets/img/authentication.svg" alt="">
			</div>
		</div>
	</main>
</div>