<div class="content__header">
  <div class="content__header__content">
    <h2 class="content__header__title">{{ routeData["breadcrumb"]?.label }}</h2>
    <p class="content__header__subtitle">{{ routeData["breadcrumb"].des }}</p>
  </div>
  <div class="content__header__action">
    <div>
      <div (click)="openSidebar()" class="hamburgher">
        <i class="uil-bars"></i>
      </div>
    </div>

    <div class="content__header__action__wrap">
      <ul class="content__header__quickaction">
        <li class="content__header__quickaction__item" ngbDropdown>
          <div
            class="content__header__searchform content__header__popup p-0"
            ngbDropdownMenu
          >
            <input
              type="text"
              placeholder="Search"
              class="content__header__btn"
            />
            <i class="uil uil-search"></i>
          </div>
        </li>
        
        <li class="content__header__quickaction__item" ngbDropdown>
          <a
            href="javascript:void(0);"
            class="content__header__quickaction__link"
            ngbDropdownToggle
          >
            <img class="user-img" src="assets/img/mariorossi.jpg" alt="user" />
          </a>
          <div
            class="content__header__popup content__header__popup--author"
            ngbDropdownMenu
          >
            <div class="content__header__popup__header">
              <div class="content__header__popup__header__img">
                <img src="assets/img/mariorossi.jpg" alt="user" class="user-img" />
              </div>
              <div class="content__header__popup__header__content">
                <h3 class="content__header__popup__header__title">
                  {{loggedUser && loggedUser.name}} {{loggedUser && loggedUser.surname}}
                </h3>
                <span class="content__header__popup__header__subtitle"
                  > {{loggedUser && loggedUser.email}}</span
                >
              </div>
            </div>
           
            <div class="content__header__popup__footer mt-2">
              <a
                href="javascript:void(0);"
                (click)="onLogout()"
                class="content__header__popup__footer__link"
              >
                <i class="uil uil-arrow-up-left"></i>Logout
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
