<div class="content__blog">
    <div class="content__blog__wrapper">
        <div class="row">
            <div class="col-xxl-3 col-xl-4 col-md-6 mb-4" *ngFor="let data of BlogData">
                <div class="content__blog__single">
                    <div class="content__blog__single__img">
                        <a [routerLink]="['/']">
                            <img src="{{data.image}}" alt="Single Blog" />
                        </a>
                    </div>
                    <div class="content__blog__single__content">
                        <div class="content__blog__single__quickinfo">
                            <a href="javascript:void(0);">{{data.title}}</a>
                            <span>{{data.time}}</span>
                        </div>
                        <h5 class="content__blog__single__title">
                            <a [routerLink]="['/']">{{data.des}}</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content__form__single d-flex gap-20 justify-content-between pb-0">
        <div class="content__form__single__left">
            <p class="content__form__single__text">Showing 4 of 256 data</p>
        </div>
        <div class="content__form__single__right d-flex gap-20">
            <ul class="content__pagination flex gap-10">
                <li class="content__pagination__item">
                    <a href="javascript:void(0);" class="content__pagination__link active">
                        1
                    </a>
                </li>
                <li class="content__pagination__item">
                    <a href="javascript:void(0);" class="content__pagination__link">
                        2
                    </a>
                </li>
                <li class="content__pagination__item">
                    <a href="javascript:void(0);" class="content__pagination__link">
                        3
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>