@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  99% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(360deg);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins);
  font-weight: 500;
  color: var(--body-color);
  margin-bottom: 0;
}
h1 {
  font-size: 32px;
  font-weight: 600;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 15px;
  line-height: 24px;
}
h6 {
  font-size: 14px;
  line-height: 23px;
}
p {
  font-family: var(--poppins);
  font-weight: 400;
  margin-bottom: 0;
}
a {
  color: var(--body-color);
  transition: all 0.3s ease;
}
a:hover {
  color: var(--primary-color);
}
img {
  max-width: 100%;
}
.bold {
  font-weight: 700;
}
.semii-bold {
  font-weight: 600;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.line-through {
  text-decoration: line-through;
}
.font-regular {
  font-style: 16px;
}
.font-sm {
  font-style: 14px;
}
.font-xs {
  font-style: 12px;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
body {
  font-family: var(--poppins);
  background-color: var(--section-color);
}
@media only screen and (max-width: 1440px) {
  body {
    font-size: 15px;
  }
}
.gutter-40 {
  margin: 0 -20px;
}
.gutter-40 > [class*="col-"] {
  padding-right: 20px;
  padding-left: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
@media only screen and (max-width: 991px) {
  .md-mb-40 {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1199px) {
  .lg-mb-40 {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .ssm-mb-40 {
    margin-bottom: 40px;
  }
}
.success-color {
  color: var(--success-color) !important;
}
.success-bg {
  background: var(--success-color) !important;
}
.warning-color {
  color: var(--warning-color) !important;
}
.warning-bg {
  background: var(--warning-color) !important;
}
.danger-color {
  color: var(--danger-color) !important;
}
.danger-bg {
  background: var(--danger-color) !important;
}
.pink-color {
  color: var(--pink-color) !important;
}
.pink-bg {
  background: var(--pink-color) !important;
}
.quatinery-color {
  color: var(--quatinery-color) !important;
}
.quatinery-bg {
  background: var(--quatinery-color) !important;
}
.tertiary-color {
  color: var(--tertiary-color) !important;
}
.tertiary-bg {
  background: var(--tertiary-color) !important;
}
.primary-color {
  color: var(--primary-color) !important;
}
.primary-bg {
  background: var(--primary-color) !important;
}
.secondary-color {
  color: var(--secondary-color) !important;
}
.secondary-bg {
  background: var(--secondary-color) !important;
}
.white-color {
  color: var(--white-color) !important;
}
.white-bg {
  background: var(--white-color) !important;
}
.info-color {
  color: var(--info-color) !important;
}
.info-bg {
  background: var(--info-color) !important;
}
.dark-color {
  color: var(--dark-color) !important;
}
.dark-bg {
  background: var(--dark-color) !important;
}
.body-color {
  color: var(--body-color) !important;
}
.body-bg {
  background: var(--body-color) !important;
}
.sec-color {
  color: var(--sec-color) !important;
}
.sec-bg {
  background: var(--sec-color) !important;
}
.section-color {
  color: var(--section-color) !important;
}
.section-bg {
  background: var(--section-color) !important;
}
.grayThree-color {
  color: var(--grayThree-color) !important;
}
.grayThree-bg {
  background: var(--grayThree-color) !important;
}
.grayTwo-color {
  color: var(--grayTwo-color) !important;
}
.grayTwo-bg {
  background: var(--grayTwo-color) !important;
}
.sectionThree-color {
  color: var(--sectionThree-color) !important;
}
.sectionThree-bg {
  background: var(--sectionThree-color) !important;
}
.display-1 {
  font-size: 84px;
  font-weight: 400;
}
@media only screen and (max-width: 1440px) {
  .display-1 {
    font-size: 75px;
  }
}
@media only screen and (max-width: 1365px) {
  .display-1 {
    font-size: 65px;
  }
}
@media only screen and (max-width: 991px) {
  .display-1 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 575px) {
  .display-1 {
    font-size: 55px;
  }
}
@media only screen and (max-width: 767px) {
  .display-1 {
    font-size: 52px;
  }
}
@media only screen and (max-width: 479px) {
  .display-1 {
    font-size: 50px;
  }
}
.display-2 {
  font-size: 77px;
  font-weight: 400;
}
@media only screen and (max-width: 1440px) {
  .display-2 {
    font-size: 67px;
  }
}
@media only screen and (max-width: 1365px) {
  .display-2 {
    font-size: 62px;
  }
}
@media only screen and (max-width: 991px) {
  .display-2 {
    font-size: 57px;
  }
}
@media only screen and (max-width: 575px) {
  .display-2 {
    font-size: 52px;
  }
}
@media only screen and (max-width: 767px) {
  .display-2 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 479px) {
  .display-2 {
    font-size: 45px;
  }
}
.display-3 {
  font-size: 63px;
  font-weight: 400;
}
@media only screen and (max-width: 1440px) {
  .display-3 {
    font-size: 57px;
  }
}
@media only screen and (max-width: 1365px) {
  .display-3 {
    font-size: 52px;
  }
}
@media only screen and (max-width: 991px) {
  .display-3 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 575px) {
  .display-3 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 767px) {
  .display-3 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 479px) {
  .display-3 {
    font-size: 40px;
  }
}
.display-4 {
  font-size: 49px;
  font-weight: 400;
}
@media only screen and (max-width: 1440px) {
  .display-4 {
    font-size: 47px;
  }
}
@media only screen and (max-width: 1365px) {
  .display-4 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 991px) {
  .display-4 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 575px) {
  .display-4 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .display-4 {
    font-size: 38px;
  }
}
@media only screen and (max-width: 479px) {
  .display-4 {
    font-size: 35px;
  }
}
.testi-container {
  overflow: hidden;
  margin: 0 auto;
  max-width: 600px !important;
}
@media only screen and (max-width: 767px) {
  .testi-container {
    max-width: 500px !important;
  }
}
@media only screen and (max-width: 575px) {
  .testi-container {
    max-width: 400px !important;
  }
}
@media only screen and (max-width: 479px) {
  .testi-container {
    max-width: 270px !important;
  }
}
.swiper-container {
  margin: 0 -20px;
  max-width: 1250px !important;
  overflow: hidden;
}
.swiper-container .swiper-slide {
  padding: 0 20px;
}
@media only screen and (max-width: 1920px) {
  .swiper-container {
    max-width: 1050px !important;
  }
}
@media only screen and (max-width: 1600px) {
  .swiper-container {
    max-width: 810px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .swiper-container {
    max-width: 730px !important;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  .swiper-container {
    max-width: 660px !important;
  }
}
@media only screen and (max-width: 1365px) {
  .swiper-container {
    max-width: 630px !important;
  }
}
@media only screen and (max-width: 1199px) {
  .swiper-container {
    max-width: 992px !important;
  }
}
@media only screen and (max-width: 991px) {
  .swiper-container {
    max-width: 768px !important;
  }
}
@media only screen and (max-width: 767px) {
  .swiper-container {
    max-width: 576px !important;
  }
}
@media only screen and (max-width: 575px) {
  .swiper-container {
    max-width: 480px !important;
  }
}
@media only screen and (max-width: 479px) {
  .swiper-container {
    max-width: 375px !important;
  }
}
@media only screen and (max-width: 374px) {
  .swiper-container {
    max-width: 315px !important;
  }
}
.swiper-wrapper {
  padding-left: initial;
  margin: 0;
}
.swiper-pagination {
  display: flex;
  gap: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.swiper-pagination i {
  font-size: 30px;
  cursor: pointer;
}
.swiper-pagination i:hover {
  color: var(--primary-color);
}
blockquote {
  position: relative;
  margin: 30px 0;
  border-left: 0;
  font-size: 16px;
  padding: 38px 58px 30px 40px;
  background: var(--white-color);
}
@media only screen and (max-width: 575px) {
  blockquote {
    padding: 30px 15px 15px 25px;
  }
}
blockquote:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 8px;
  left: 0;
  top: 0;
  background: var(--primary-color);
}
blockquote span {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  color: var(--dark-color);
  margin: 20px 0 0;
  position: relative;
}
blockquote span:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 80px;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 115px;
  background: var(--primary-color);
}
.badge {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  padding: 10px 16px;
  border-radius: 14px;
  color: var(--white-color);
}
.badge--sm {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}
.badge--mini {
  width: 37px;
  height: 37px;
  padding: 7px 0;
  border-radius: 9px;
  border: 3px solid var(--section-color);
}
.badge--icon {
  width: 54px;
  height: 54px;
  padding: 15px;
  font-size: 24px;
  border-radius: 18px;
}
.badge--transaction-icon {
  width: 68px;
  height: 68px;
  font-size: 35px;
  border-radius: 24px;
}
.badge--label-icon {
  gap: 14px;
  padding: 8px 26px 8px 16px;
  border-radius: 14px;
}
.badge--label-icon i {
  font-size: 24px;
}
.badge--primary {
  background-color: var(--primary-color);
}
.badge--primary-transparent {
  color: var(--primary-color);
  background-color: var(--primary-color-transparent);
}
.badge--success {
  background-color: var(--success-color);
}
.badge--success-transparent {
  color: var(--success-color);
  background-color: var(--success-color-transparent);
}
.badge--warning {
  background-color: var(--warning-color);
}
.badge--warning-transparent {
  color: var(--warning-color);
  background-color: var(--warning-color-transparent);
}
.badge--danger {
  background-color: var(--danger-color);
}
.badge--danger-transparent {
  color: var(--danger-color);
  background-color: var(--danger-color-transparent);
}
.badge--pink {
  background-color: var(--pink-color);
}
.badge--info {
  background-color: var(--info-color);
}
.badge--info-transparent {
  color: var(--info-color);
  background-color: var(--info-color-transparent);
}
.badge--tertiary {
  background-color: var(--tertiary-color);
}
.badge--dark {
  background-color: var(--dark-color);
}
.badge--white {
  color: var(--body-color);
  background-color: var(--white-color);
  box-shadow: 0 0 10px var(--section-color);
}
.label {
  position: relative;
  padding-inline-start: 20px;
  font-size: 12px;
  font-weight: 400;
  color: var(--body-color);
}
.label:before {
  content: "";
  position: absolute;
  top: 3px;
  inset-inline-start: 0;
  width: 12px;
  height: 12px;
  border-radius: 4px;
  background-color: var(--body-color);
}
.label--primary:before {
  background-color: var(--primary-color);
}
.label--success:before {
  background-color: var(--success-color);
}
.tooltip {
  position: relative;
  display: flex;
  gap: 6px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 10px;
  color: var(--white-color);
  background-color: var(--body-color);
}
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  inset-inline-end: 50%;
  transform: translateX(50%);
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-top: 10px solid var(--body-color);
}
.tooltip__title {
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
}
.tooltip__text {
  font-size: 10px;
  font-weight: 400;
  color: var(--secondary-color);
}
.tooltip--white {
  padding: 15px 52px 15px 18px;
  background-color: var(--white-color);
  box-shadow: 0 0 10px var(--section-color);
}
.tooltip--white .tooltip__title {
  color: var(--body-color);
}
.tooltip--white .tooltip__text {
  color: var(--success-color);
}
.tooltip--white::after {
  inset-inline-end: 40px;
  border-top-color: var(--white-color);
  box-shadow: 0 5px 10px var(--section-color);
}
.pagination {
  display: flex;
  gap: 10px;
}
.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 18px;
  color: var(--white-color);
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}
.pagination__link:hover,
.pagination__link.active {
  color: var(--primary-color);
  background-color: var(--primary-color-transparent);
}
.btn {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  padding: 15px 25px;
  color: var(--body-color);
  background-color: var(--gray-color);
  border: none;
  border-radius: 18px;
  transition: all 0.3s ease;
}
.btn.active,
.btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}
@media only screen and (max-width: 1440px) {
  .btn {
    font-size: 14px;
  }
}
@media only screen and (max-width: 479px) {
  .btn {
    padding: 10px 20px;
  }
  .btn.btn__customizer,
  .btn.btn__toggle-sidebar {
    padding: 10px 15px;
    border-radius: 12px;
  }
}
@media only screen and (max-width: 575px) {
  .btn__customizer span {
    display: none;
  }
}
.btn--sm {
  padding: 12px 22px;
  font-size: 13px;
}
.btn--transparent {
  color: var(--dark-color);
  background-color: rgba(0, 0, 0, 0) !important;
  border: 2px solid var(--dark-color);
}
.btn--transparent i {
  color: var(--dark-color);
}
.btn--transparent.active,
.btn--transparent:hover {
  color: var(--white-color);
  background-color: var(--dark-color) !important;
}
.btn--transparent.active i,
.btn--transparent:hover i {
  color: var(--white-color);
}
.btn--dark {
  color: var(--white-color);
  background-color: var(--dark-color);
}
.btn--dark-transparent {
  color: var(--body-color);
  border: 2px solid var(--dark-color);
  background-color: var(--dark-color-transparent) !important;
}
.btn--dark-transparent i {
  color: var(--dark-color);
}
.btn--dark-transparent.active,
.btn--dark-transparent:hover {
  color: var(--white-color);
  background-color: var(--dark-color) !important;
}
.btn--dark-transparent.active i,
.btn--dark-transparent:hover i {
  color: var(--white-color);
}
.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color) !important;
}
.btn--primary-transparent {
  color: var(--body-color);
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color-transparent) !important;
}
.btn--primary-transparent i {
  color: var(--primary-color);
}
.btn--primary-transparent.active,
.btn--primary-transparent:hover {
  color: var(--white-color);
  background-color: var(--primary-color) !important;
}
.btn--primary-transparent.active i,
.btn--primary-transparent:hover i {
  color: var(--white-color);
}
.btn--danger {
  color: var(--white-color);
  background-color: var(--danger-color) !important;
}
.btn--danger-transparent {
  color: var(--body-color);
  border: 2px solid var(--danger-color);
  background-color: var(--danger-color-transparent) !important;
}
.btn--danger-transparent i {
  color: var(--danger-color);
}
.btn--danger-transparent.active,
.btn--danger-transparent:hover {
  color: var(--white-color);
  background-color: var(--danger-color) !important;
}
.btn--danger-transparent.active i,
.btn--danger-transparent:hover i {
  color: var(--white-color);
}
.btn--success {
  color: var(--white-color);
  background-color: var(--success-color) !important;
}
.btn--success-transparent {
  color: var(--body-color);
  border: 2px solid var(--success-color);
  background-color: var(--success-color-transparent) !important;
}
.btn--success-transparent i {
  color: var(--success-color);
}
.btn--success-transparent.active,
.btn--success-transparent:hover {
  color: var(--white-color);
  background-color: var(--success-color) !important;
}
.btn--success-transparent.active i,
.btn--success-transparent:hover i {
  color: var(--white-color);
}
.btn.nav-link {
  background-color: var(--gray-color);
  border-radius: 18px;
}
.btn.nav-link.active,
.btn.nav-link:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.logo-dark {
  display: none;
}
.btn__toggle-task {
  position: absolute;
  right: 20px;
  top: 0;
  display: none;
  z-index: 9;
}
@media only screen and (max-width: 575px) {
  .btn__toggle-task {
    display: block;
  }
}
.load-more-btn {
  display: inline-flex;
  gap: 10px;
  padding: 8px 18px 8px 25px;
  border-radius: 18px;
  color: var(--white-color);
  background-color: var(--body-color);
}
.load-more-btn i {
  font-size: 28px;
  line-height: 1;
  margin-inline-start: -8px;
}
.load-more-btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.footer__wrap {
  display: flex;
  gap: 20px;
  padding: 20px;
  padding-inline-end: 65px;
  justify-content: space-between;
}
@media only screen and (max-width: 1600px) {
  .footer__wrap {
    padding-inline-end: 20px;
  }
}
@media only screen and (max-width: 479px) {
  .footer__wrap {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer__menu {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}
.footer__menu__item a {
  color: var(--body-color);
  padding: 10px 15px;
}
.footer__menu__item a:hover {
  color: var(--primary-color);
}
.main-content {
  display: flex;
  gap: 70px;
  justify-content: space-between;
  padding: 22px;
  padding-inline-start: 400px;
}
@media only screen and (max-width: 1920px) {
  .main-content {
    gap: 50px;
    padding-inline-start: 380px;
  }
}
@media only screen and (max-width: 1600px) {
  .main-content {
    gap: 40px;
    padding-inline-start: 370px;
  }
}
@media only screen and (max-width: 1440px) {
  .main-content {
    padding-inline-start: 340px;
  }
}
@media only screen and (max-width: 1199px) {
  .main-content {
    padding-inline-start: 22px;
  }
} /*# sourceMappingURL=general.css.map */
