<div class="content__section content__form">
  <div class="content__form__wrapper flex flex-column gap-3">
    <h4 class="content__form__title">Theme Color</h4>
    <div class="content__form__wrapper__item d-flex flex-wrap gap-4 mb-5">
      <div class="content__form__color" *ngFor="let data of DarkData">
        <h4 class="content__form__color__label">{{data.title}}</h4>
        <div class="content__form__color__box {{data.color}}-bg"></div>
      </div>
    </div>
    <h4 class="content__form__title">Theme Color</h4>
    <div class="content__form__wrapper__item d-flex flex-wrap gap-4">
      <div class="content__form__color" *ngFor="let data of LightData">
        <h4 class="content__form__color__label">{{data.title}}</h4>
        <div class="content__form__color__box transparent {{data.color}}-bg"></div>
      </div>
    </div>
  </div>
</div>
