<div class="loginContainer">
  <div class="loginBox">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="logoDbContainer">
        <img src="../../assets/images/logoDb.png" class="logoDb" />
      </div>
      <div class="logoText">
        <b>Products Admin panel</b>
        <br />
        developed in Angular - Spring Boot
        <br />
        <img src="../../assets/images/angular-spring.png" class="logoAngular" />
      </div>
      <div>
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          required
          [(ngModel)]="username"
          name="username"
          #usernameInput="ngModel"
        />
        <div *ngIf="usernameInput.invalid && usernameInput.touched">
          Username is required
        </div>
      </div>
      <div>
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          required
          [(ngModel)]="password"
          name="password"
          #passwordInput="ngModel"
        />
        <div *ngIf="passwordInput.invalid && passwordInput.touched">
          Password is required
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid" class="loginButton">Login</button>
    </form>
    <div *ngIf="errorMessage" class="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="loginFooter">
      <a href="https://www.davidebalice.dev" target="_blank"
        >www.davidebalice.dev</a
      >
    </div>
  </div>
</div>
