@mixin alignContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget-icon {
  @include alignContent();
  width: 42px !important;
  height: 42px !important;
  background-color: #eee;
  border-radius: 50%;
  font-size: 22px;
}

.ratings {
  span {
    font-size: 20px;
    cursor: pointer;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  height: 46px;
}

.buttonContainer2 {
  display: flex;
  gap: 14px;
}

.mainTodoContainer {
  width: calc(100% - 350px);
}

.viewContainer {
  display: flex;
  gap: 4px;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 8px;
  color: #fff;
  padding-right: 4px;
  background-color: var(--primary-color);
}

.viewContainer div {
  font-size: 14px;
  padding: 10px 20px;
}

.buttonBase {
  padding: 0px 20px;
  cursor: pointer;
  border-radius: 6px;
}

.buttonBase:hover {
  background-color: #aaa;
}

.buttonView {
  height: 34px !important;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #1e7ac1;
}

.buttonView:hover {
  background: #206eaa;
}

.notSelected {
  background-color: #aaa;
}
