<div class="content__wrapper">
  <div class="content__section-wrapper">
    <button class="btn btn__toggle-task">
      <i class="uil-bars"></i> Task List
    </button>
    <div class="content__section content__section--transparent content__todo">
      <div class="content__todo__sidebar">
        <div class="content__todo__sidebar__label">
          <button (click)="onNewTodo()" class="fc-button fc-button-primary">
            <mat-icon>add_circle</mat-icon>
            New todo
          </button>
          <div class="spacer"></div>
          <div class="sideTagsTitle">Status</div>
          <ul
            class="nav nav-tabs content__todo__sidebar__tab mb-4"
            id="todo-task-tab"
            role="tablist"
            *ngIf="status && status.length > 0"
          >
            <li class="nav-item" *ngFor="let item of status">
              <button
                class="nav-link"
                id="todo-task-tab-important"
                data-bs-toggle="tab"
                data-bs-target="#todo-task-content-important"
                type="button"
                role="tab"
                aria-controls="todo-task-content-important"
                aria-selected="true"
              >
                <mat-icon *ngIf="item.name == 'Completed'"  [ngStyle]="{'color': item.color}">done_all</mat-icon>
                <mat-icon *ngIf="item.name == 'Important'" [ngStyle]="{'color': item.color}"
                  >priority_high</mat-icon
                >
                <mat-icon *ngIf="item.name == 'In Work'" [ngStyle]="{'color': item.color}">settings</mat-icon>
                <mat-icon *ngIf="item.name == 'Removed'" [ngStyle]="{'color': item.color}">deleted</mat-icon>

                <span>{{ item.name }}</span>
              </button>
            </li>
          </ul>
          <div *ngIf="status.length === 0">
            <p>No status available.</p>
          </div>
          <div class="sideTagsTitle">Tags</div>
        </div>
        <div class="content__todo__sidebar__label">
          <ul
            class="nav nav-tabs content__todo__sidebar__tab"
            id="todo-task-label"
            role="tablist"
            *ngIf="tags && tags.length > 0"
          >
            <li class="nav-item" *ngFor="let tag of tags">
              <button
                class="nav-link primary"
                id="team-task-tab"
                data-bs-toggle="tab"
                data-bs-target="#team-task-content"
                type="button"
                role="tab"
                aria-controls="team-task-content"
                aria-selected="true"
              >
              <mat-icon [ngStyle]="{'color': tag.color}">sell</mat-icon> <span>{{ tag.name }}</span>
              </button>
            </li>
          </ul>

          <div *ngIf="tags.length === 0">
            <p>No tags available.</p>
          </div>

          <div class="content__todo__sidebar__label__add">
            <i class="uil-plus-circle"></i>
            <input class="" type="text" placeholder="Add Label" />
          </div>
        </div>
      </div>

      <div class="mainTodoContainer">
        <div class="buttonContainer">
          <div class="buttonContainer2">
            <button (click)="onNewTodo()" class="fc-button fc-button-primary">
              <mat-icon>add_circle</mat-icon>
              New todo
            </button>
            <div class="viewContainer">
              <div>View</div>
              <mat-icon
                (click)="onChangeView('row')"
                class="buttonBase buttonView"
                [ngClass]="{
                  notSelected: visualization === 'grid',
                  buttonBase: true,
                  buttonView: true
                }"
                matTooltipPosition="above"
                matTooltipShowDelay="100"
                matTooltipHideDelay="100"
                matTooltip="Row"
                >view_list</mat-icon
              >

              <mat-icon
                (click)="onChangeView('grid')"
                class="buttonBase buttonView"
                [ngClass]="{
                  notSelected: visualization === 'row',
                  buttonBase: true,
                  buttonView: true
                }"
                matTooltipPosition="above"
                matTooltipShowDelay="100"
                matTooltipHideDelay="100"
                matTooltip="Grid"
                >grid_view</mat-icon
              >
            </div>
          </div>

          <app-search></app-search>
        </div>

        <hr />

        <app-list-row
          [pagination]="pagination"
          [limit]="9"
          *ngIf="visualization === 'row'"
        ></app-list-row>
        <app-list-card
          [pagination]="pagination"
          [limit]="9"
          *ngIf="visualization === 'grid'"
        ></app-list-card>
      </div>
    </div>
  </div>
</div>
