<h5>Products > Attributes</h5>
<hr />

<mat-card class="pageCard">
  <mat-card-content>
    <div class="buttonContainer">
      <button (click)="onNewAttribute()" class="buttonBase buttonHeight">
        <mat-icon>add_circle</mat-icon>
        New attribute
      </button>
    </div>
    <hr />

    <div class="rowTitle">
      <div>Attribute</div>
      <div>Manage</div>
    </div>

    <div class="row">
      <ng-container *ngIf="isLoading; else loadedContent">
        <div class="loadingContainer">
          <img src="../../../assets/images/loading.svg" />
        </div>
      </ng-container>

      <ng-template #loadedContent>
        <ng-container *ngIf="attributes.length > 0; else noAttribute">
          <div class="col-12" *ngFor="let attribute of attributes">
            <div class="listRow">
              <div class="listBody">
                <h5 class="listTitle">{{ attribute.name }}</h5>
              </div>

              <div class="cardButtonContainer">
                <button
                  class="cardButton"
                  (click)="onEditAttribute(attribute.id)"
                  matTooltipPosition="above"
                  matTooltipShowDelay="100"
                  matTooltipHideDelay="100"
                  matTooltip="Edit"
                >
                  <mat-icon class="editButton">edit</mat-icon>
                </button>

                <button
                  class="cardButton cardButtonDelete"
                  (click)="onDelete(attribute.id, attribute.name)"
                  matTooltipPosition="above"
                  matTooltipShowDelay="100"
                  matTooltipHideDelay="100"
                  matTooltip="Delete"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #noAttribute>
        <div class="noData">No attribute available.</div>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
