<div class="card-item">
  <div class="card-body content__todo__text_container" (click)="openTodoDialog(todo)">
    <span class="content__todo__list__single__subtitle">{{
      formatDate(todo.date)
    }}</span>
    <p class="content__todo__list__single__title">
      {{ todo.title }}
    </p>
    <p class="content__todo__list__single__subtitle">
      {{ todo.description }}
    </p>
  </div>

  <div class="button-container">
    <div>
      <div class="container-card-tag">
        <div
          class="container-todo-tag-item"
          [ngStyle]="{
          'background-color': todo.tag?.color,
        }"
          *ngIf="todo.tag?.name"
        >
          <mat-icon *ngIf="todo.tag?.icon" class="container-todo-tag-icon">
            {{ todo.tag?.icon }}
          </mat-icon>
          <span>{{ todo.tag?.name }}</span>
        </div>

        <div
          href="javascript:void(0);"
          class="container-todo-tag-item"
          [ngStyle]="{
        'background-color': todo.status?.color,
      }"
          *ngIf="todo.status?.name"
        >
          <mat-icon *ngIf="todo.status?.icon" class="container-todo-tag-icon">
            {{ todo.status?.icon }}
          </mat-icon>
          <span>{{ todo.status?.name }}</span>
        </div>
      </div>
    </div>
    <div>
      <button
        class="cardButton"
        (click)="onEditTodo(todo.id)"
        matTooltipPosition="above"
        matTooltipShowDelay="100"
        matTooltipHideDelay="100"
        matTooltip="Edit"
      >
        <mat-icon class="edit-button">edit</mat-icon>
      </button>

      <button
        class="cardButton cardButtonDelete"
        (click)="onDelete(todo.id, todo.title)"
        matTooltipPosition="above"
        matTooltipShowDelay="100"
        matTooltipHideDelay="100"
        matTooltip="Delete"
      >
        <mat-icon class="delete-button">delete</mat-icon>
      </button>
    </div>
  </div>
</div>
