<h5>
  Products > Attributes > Edit >
  <span>{{ attribute?.name || "" }}</span>
</h5>
<hr />

<mat-card class="pageCard">
  <mat-card-content>
    <button type="button" class="buttonBase buttonBack" (click)="onBack()">
      <mat-icon> chevron_left</mat-icon>
      Back
    </button>

    <div *ngIf="attribute$ | async as attribute; else loading">
      <form
        *ngIf="attributeForm"
        [formGroup]="attributeForm"
        (ngSubmit)="onSubmit()"
        class="formContainer"
      >
        <div class="inputContainer inputContainerFull">
          <label for="name" class="labelText">Name of attribute</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="inputField"
          />
        </div>

       

        <div class="submitContainer">
          <button
            type="button"
            class="buttonBase buttonCancel"
            (click)="onCancel()"
          >
            Cancel
          </button>

          <button
            type="submit"
            class="buttonBase"
            [disabled]="!attributeForm.valid"
          >
            <mat-icon>save</mat-icon>
            Save
          </button>
        </div>
      </form>
    </div>

    <ng-template #loading>
      <img src="../../../assets/images/loading.svg" />
    </ng-template>
  </mat-card-content>
</mat-card>
