<div class="kanban-inner-main-style">
    <a [routerLink]="['/']" class="backto-home-btn"> <i class="uil-arrow-left"></i> Back to Projects</a>

    <!-- kanban between area start -->
    <div class="kanban-between-area--wrapper-top">
        <div class="left">
            <h1 class="title">Dashboard</h1>
        </div>
        <div class="right">
            <div class="icons-area-left">
                <i class="uil-star"></i>
                <i class="uil-square-full"></i>
            </div>
            <div class="content__todo__list__single__author">
                <a href="javascript:void(0);" class="content__todo__list__single__author__img">
                    <img src="assets/img/avatar/todo/1.svg" alt="avatar">
                </a>
                <a href="javascript:void(0);" class="content__todo__list__single__author__img">
                    <img src="assets/img/avatar/todo/2.svg" alt="avatar">
                </a>
                <a href="javascript:void(0);" class="content__todo__list__single__author__img">
                    <img src="assets/img/avatar/todo/3.svg" alt="avatar">
                </a>
            </div>
            <button class="btn btn--primary"><i class="uil-plus"></i>Invite</button>
        </div>
    </div>
    <!-- kanban between area end -->

    <!-- kanban drag and drop area main -->
    <div class="kanban-drag-and-drop-area-wrapper mt-5">
        <div class="app">
            <table class="kanban">
                <tr class="heading" height="45">
                    <td>
                    <div class="hasScrollbar">
                        <ul class="stages">
                        <li class="stage top-stage">
                            <span class="stagename">To-Do</span>
                            <a href="javascript:void(0);" class="plus-icon"><i class="uil-plus"></i></a>
                        </li>
                        <li class="stage top-stage">
                            <span class="stagename">Work In Progress</span>
                            <a href="javascript:void(0);" class="plus-icon"><i class="uil-plus"></i></a>
                        </li>
                        <li class="stage top-stage">
                            <span class="stagename">Under Review</span>
                            <a href="javascript:void(0);" class="plus-icon"><i class="uil-plus"></i></a>
                        </li>
                        <li class="stage top-stage">
                            <span class="stagename">Done</span>
                            <a href="javascript:void(0);" class="plus-icon"><i class="uil-plus"></i></a>
                        </li>
                        <li class="stage top-stage">
                            <span class="stagename">Revised</span>
                            <a href="javascript:void(0);" class="plus-icon"><i class="uil-plus"></i></a>
                        </li>                        
                        </ul>
                    </div>
                    </td>
                </tr>
            
                <tr class="content">
                    <td>
                        <div class="deals">
                            <div class="stages">
                                <div id="one" class="stage" data-stage-id="1" [dndDropzone] dndEffectAllowed="move" (dndDrop)="onDrop($event, todoTasks,'Progress-task')">
                                    <ng-container *ngFor="let task of todoTasks">
                                        <div [dndDraggable]="task" dndEffectAllowed="move"
                                            (dndMoved)="onDragged(task, todoTasks)">
                                            <ng-template [ngTemplateOutlet]="TaskTodoContent"
                                                [ngTemplateOutletContext]="{task:task}">
                                            </ng-template>
                                        </div>
                                    </ng-container>
                                </div>
                                <div id="two" class="stage" data-stage-id="2" [dndDropzone] dndEffectAllowed="move" (dndDrop)="onDrop($event, inprogressTasks,'Progress-task')">
                                    <ng-container *ngFor="let task of inprogressTasks">
                                        <div [dndDraggable]="task" dndEffectAllowed="move"
                                            (dndMoved)="onDragged(task, inprogressTasks)">
                                            <ng-template [ngTemplateOutlet]="TaskInProgressContent"
                                                [ngTemplateOutletContext]="{task:task}">
                                            </ng-template>
                                        </div>
                                    </ng-container>
                                </div>
                                <div id="three" class="stage" data-stage-id="3" [dndDropzone] dndEffectAllowed="move" (dndDrop)="onDrop($event, reviewsTasks,'Progress-task')">
                                    <ng-container *ngFor="let task of reviewsTasks">
                                        <div [dndDraggable]="task" dndEffectAllowed="move"
                                            (dndMoved)="onDragged(task, reviewsTasks)">
                                            <ng-template [ngTemplateOutlet]="TaskReviewsContent"
                                                [ngTemplateOutletContext]="{task:task}">
                                            </ng-template>
                                        </div>
                                    </ng-container>
                                </div>
                                <div id="four" class="stage" data-stage-id="4" [dndDropzone] dndEffectAllowed="move" (dndDrop)="onDrop($event, completedTasks,'Progress-task')">
                                    <ng-container *ngFor="let task of completedTasks">
                                        <div [dndDraggable]="task" dndEffectAllowed="move"
                                            (dndMoved)="onDragged(task, completedTasks)">
                                            <ng-template [ngTemplateOutlet]="TaskDoneContent"
                                                [ngTemplateOutletContext]="{task:task}">
                                            </ng-template>
                                        </div>
                                    </ng-container>
                                </div>
                                <div id="five" class="stage" data-stage-id="5" [dndDropzone] dndEffectAllowed="move" (dndDrop)="onDrop($event, revisedTasks,'Progress-task')">
                                    <ng-container *ngFor="let task of revisedTasks">
                                        <div [dndDraggable]="task" dndEffectAllowed="move"
                                            (dndMoved)="onDragged(task, revisedTasks)">
                                            <ng-template [ngTemplateOutlet]="TaskRevisedContent"
                                                [ngTemplateOutletContext]="{task:task}">
                                            </ng-template>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- kanban drag and drop area main end -->
</div>

<!-- Todo Task  -->
<ng-template #TaskTodoContent let-task='task'>
    <div class="deal">
        <div class="inner-content-kanban-wrapper">
            <span class="bg-{{task.btn_color}}">{{task.btn_title}}</span>
            <h6 class="title">
                {{task.title}}
            </h6>
            <p>Last update 42min ago</p>
            <div class="thumb-edit-area">
                <div class="img-area gap-1 d-flex">
                    <img src="{{data}}" alt="kanban" *ngFor="let data of task.users">
                </div>
                <div class="edit-img">
                    <img src="assets/img/kanban/20.png" alt="kanban">
                </div>
            </div>
        </div>
    </div>
</ng-template>

 <!-- InProgress Task  -->
 <ng-template #TaskInProgressContent let-task='task'>
    <div class="deal">
        <div class="inner-content-kanban-wrapper">
            <span class="bg-{{task.btn_color}}">{{task.btn_title}}</span>
            <h6 class="title">
                {{task.title}}
            </h6>
            <p>Last update 42min ago</p>
            <div class="thumb-edit-area">
                <div class="img-area gap-1 d-flex">
                    <img src="{{data}}" alt="kanban" *ngFor="let data of task.users">
                </div>
                <div class="edit-img">
                    <img src="assets/img/kanban/20.png" alt="kanban">
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- reviews Task  -->
<ng-template #TaskReviewsContent let-task='task'>
    <div class="deal">
        <div class="inner-content-kanban-wrapper">
            <span class="bg-{{task.btn_color}}">{{task.btn_title}}</span>
            <h6 class="title">
                {{task.title}}
            </h6>
            <p>Last update 42min ago</p>
            <div class="thumb-edit-area">
                <div class="img-area gap-1 d-flex">
                    <img src="{{data}}" alt="kanban" *ngFor="let data of task.users">
                </div>
                <div class="edit-img">
                    <img src="assets/img/kanban/20.png" alt="kanban">
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Done Task  -->
<ng-template #TaskDoneContent let-task='task'>
    <div class="deal">
        <div class="inner-content-kanban-wrapper">
            <span class="bg-{{task.btn_color}}">{{task.btn_title}}</span>
            <h6 class="title">
                {{task.title}}
            </h6>
            <p>Last update 42min ago</p>
            <div class="thumb-edit-area">
                <div class="img-area gap-1 d-flex">
                    <img src="{{data}}" alt="kanban" *ngFor="let data of task.users">
                </div>
                <div class="edit-img">
                    <img src="assets/img/kanban/20.png" alt="kanban">
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Revised Task  -->
<ng-template #TaskRevisedContent let-task='task'>
    <div class="deal">
        <div class="inner-content-kanban-wrapper">
            <span class="bg-{{task.btn_color}}">{{task.btn_title}}</span>
            <h6 class="title">
                {{task.title}}
            </h6>
            <p>Last update 42min ago</p>
            <div class="thumb-edit-area">
                <div class="img-area gap-1 d-flex">
                    <img src="{{data}}" alt="kanban" *ngFor="let data of task.users">
                </div>
                <div class="edit-img">
                    <img src="assets/img/kanban/20.png" alt="kanban">
                </div>
            </div>
        </div>
    </div>
</ng-template>