<div class="content__wrapper">
  <div class="content__section-wrapper">
    <button class="btn btn__toggle-task">
      <i class="uil-bars"></i> Task List
    </button>
    <div class="content__section content__section--transparent content__todo">
      <div class="info">
        <strong>Todo app</strong>
        <br />
        developed in Spring Boot and Angular
        <br /><br />
        <strong>Functions</strong>
        <br />
        Todo management.
        <br />
        Filter by keyword, category, status and tag.
        <br /><br />
        <strong>Visualization</strong>
        <br />
        Row, grid and calendar
        <br /><br />
        <strong>DevOps tecnology</strong>
        <br />
        Plesk, Docker
        <br /><br />
        <strong>Github</strong>
        <br /><br />
        Backend:
        <br />
        <a
          href="https://github.com/davidebalice/spring-boot-todo-api"
          target="_blank"
          >github.com/davidebalice/spring-boot-todo-api</a
        >
        <br /><br />
        Frontend:
        <br />
        <a
          href="https://github.com/davidebalice/angular-todo-app"
          target="_blank"
          >github.com/davidebalice/angular-todo-app</a
        >
      </div>
    </div>
  </div>
</div>
