<div class="content__testimonial">
    <div class="row gutter-40">
        <div class="col-lg-4 col-sm-6 mb-40" *ngFor="let data of TestimonialData">
            <div class="content__testimonial__single">
                <img src="assets/img/icon/quotes.svg" alt="image" class="content__testimonial__single__quote">
                <p class="content__testimonial__single__desc">{{data.des}}</p>
                <div class="content__testimonial__single__author">
                    <h6 class="content__testimonial__single__author__title">{{data.name}}</h6>
                    <span class="content__testimonial__single__author__subtitle">{{data.designation}}</span>
                    <img src="{{data.profile}}" alt="image" class="content__testimonial__single__author__img">
                </div>
            </div>
        </div>
    </div>
</div>