<div class="content__section content__form">
  <div class="content__form__wrapper">
    <div class="content__form__wrapper__item content__form__left">
      <div class="content__form__single d-flex gap-2">
        <button class="btn"><i class="uil-plus"></i> New Message</button>
        <button class="btn btn--dark"><i class="uil-plus"></i> New Message</button>
        <button class="btn btn--primary"><i class="uil-plus"></i> New Message</button>
      </div>
      <div class="content__form__single d-flex gap-2">
        <button class="btn btn--transparent"><i class="uil-plus"></i> New Message</button>
        <button class="btn btn--dark-transparent"><i class="uil-plus"></i> New Message</button>
        <button class="btn btn--primary-transparent"><i class="uil-plus"></i> New Message</button>
      </div>
    </div>
  </div>
</div>
