<div class="rowTitle">
  <div>Photo</div>
  <div>Name</div>
  <div>Category</div>
  <div>Price</div>
  <div>Manage</div>
</div>

<div class="row">
  <div class="col-12">
    <ng-container *ngIf="isLoading; else loadedContent">
      <div class="loadingContainer">
        <img src="../../../assets/images/loading.svg" />
      </div>
    </ng-container>

    <ng-template #loadedContent>
      <ng-container *ngIf="loadedTodos && loadedTodos.length > 0; else noTodos">
        <div class="content__todo__header">
          <div class="content__todo__header__title">
            <i class="uil-info-circle"></i>
            <h4>Important Task</h4>
          </div>
          <ul
            class="nav nav-tabs todo-tab content__todo__header__filter"
            id="todo-tab"
            role="tablist"
          >
            <li class="content__todo__header__filter__sortby">
              <select>
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
                <option value="name">Name</option>
              </select>
              <i class="uil-angle-down"></i>
            </li>
            <li class="nav-item" role="presentation">
              <a
                href="javascript:void(0);"
                id="todo_list_tab"
                class="active"
                data-bs-toggle="tab"
                data-bs-target="#todo_list_content"
                type="button"
                role="tab"
                aria-controls="todo_list_content"
                aria-selected="false"
              >
                <i class="uil-bars"></i>
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                href="javascript:void(0);"
                id="todo_grid_tab"
                data-bs-toggle="tab"
                data-bs-target="#todo_grid_content"
                type="button"
                role="tab"
                aria-controls="todo_grid_contant"
                aria-selected="false"
              >
                <i class="uil-apps"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-12" *ngFor="let todo of loadedTodos">
          <app-row [todo]="todo"></app-row>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #noTodos>
      <div class="noData">No todos available.</div>
    </ng-template>

    <div class="customPagination" *ngIf="pagination && totalItems > limit">
      <mat-paginator
        [length]="totalItems"
        [pageSize]="limit"
        [pageSizeOptions]="[]"
        (page)="onPageChanged($event)"
        [showFirstLastButtons]="false"
      >
      </mat-paginator>
    </div>
  </div>
</div>
