<div class="row">
  <div class="col-12">
    <ng-container *ngIf="isLoading; else loadedContent">
      <div class="loadingContainer">
        <img src="../../../assets/img/loading.svg" />
      </div>
    </ng-container>

    <ng-template #loadedContent>
      <ng-container *ngIf="loadedTodos && loadedTodos.length > 0; else noTodos">
        <div class="col-12" *ngFor="let todo of loadedTodos">
          <app-row [todo]="todo" *ngIf="visualization === 'row'"></app-row>
        </div>
        <div class="card-container" *ngIf="visualization === 'grid'">
          <app-card
            [todo]="todo"
            class="card-item"
            *ngFor="let todo of loadedTodos"
          ></app-card>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #noTodos>
      <div class="noData">No todos available.</div>
    </ng-template>

    <div class="customPagination" *ngIf="pagination && totalItems > limit">
      <mat-paginator
        [length]="totalItems"
        [pageSize]="limit"
        [pageSizeOptions]="[]"
        (page)="onPageChanged($event)"
        [showFirstLastButtons]="false"
      >
      </mat-paginator>
    </div>
  </div>
</div>
