<div class="content__section content__form">
  <div class="content__form__wrapper">
    <div class="content__form__wrapper__item content__form__left">
      <div class="content__form__single">
        <h4 class="content__form__single__label">Mini badge for notification counters</h4>
        <div class="content__form__single__box">
          <span class="badge badge--danger badge--mini">2</span>
          <span class="badge badge--warning badge--mini">84</span>
          <span class="badge badge--info badge--mini">2</span>
        </div>
      </div>
      <div class="content__form__single">
        <h4 class="content__form__single__label">Text badge for status label</h4>
        <div class="content__form__single__box">
          <span class="badge badge--danger">Badge</span>
          <span class="badge badge--success">Badge</span>
          <span class="badge badge--warning">Badge</span>
        </div>
      </div>
      <div class="content__form__single">
        <h4 class="content__form__single__label">Label with icon</h4>
        <div class="content__form__single__box">
          <span class="badge badge--label-icon badge--danger-transparent"><i class="uil-arrow-down-right"></i>Label</span>
          <span class="badge badge--label-icon badge--success-transparent"><i class="uil-arrow-down-right"></i>Label</span>
          <span class="badge badge--label-icon badge--warning-transparent"><i class="uil-arrow-down-right"></i>Label</span>
          <span class="badge badge--label-icon badge--info-transparent"><i class="uil-arrow-down-right"></i>Label</span>
          <span class="badge badge--label-icon badge--primary-transparent"><i class="uil-arrow-down-right"></i>Label</span>
        </div>
      </div>
    </div>
    <div class="content__form__wrapper__item content__form__right">
      <div class="content__form__single">
        <h4 class="content__form__single__label">File format Icon</h4>
        <div class="content__form__single__box">
          <span class="badge badge--dark badge--icon">
            <i class="uil-grid"></i>
          </span>
          <span class="badge badge--pink badge--icon">
            <i class="uil-image"></i>
          </span>
          <span class="badge badge--warning badge--icon">
            <i class="uil-play"></i>
          </span>
          <span class="badge badge--success badge--icon">
            <i class="uil-airplay"></i>
          </span>
          <span class="badge badge--info badge--icon">
            <i class="uil-file-alt"></i>
          </span>
          <span class="badge badge--primary badge--icon">
            <i class="uil-folder"></i>
          </span>
          <span class="badge badge--white badge--icon">
            <i class="uil-arrow-right"></i>
          </span>
        </div>
      </div>
      <div class="content__form__single">
        <h4 class="content__form__single__label">Tooltip</h4>
        <div class="content__form__single__box">
          <div class="tooltip tooltip--default">
            <h5 class="tooltip__title">24%</h5>
            <span class="tooltip__text">982 Visitors</span>
          </div>
          <div class="tooltip tooltip--white">
            <h5 class="tooltip__title">48 Request</h5>
            <span class="tooltip__text">From Web Server A</span>
          </div>
        </div>
      </div>
      <div class="content__form__single">
        <h4 class="content__form__single__label">Label Legend</h4>
        <div class="content__form__single__box">
          <span class="label label--success">Web Server A</span>
          <span class="label label--primary">Web Server B</span>
        </div>
      </div>
      <div class="content__form__single">
        <h4 class="content__form__single__label">Icon Transaction</h4>
        <div class="content__form__single__box">
          <span class="badge badge--danger-transparent badge--transaction-icon">
            <i class="uil-arrow-down"></i>
          </span>
          <span class="badge badge--success-transparent badge--transaction-icon">
            <i class="uil-arrow-up"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
