<mat-card class="pageCard">
  <mat-card-content>
    <button type="button" class="fc-button fc-button-primary" (click)="onBack()">
      <mat-icon> chevron_left</mat-icon>
      Back
    </button>

    <div class="spacer"></div>

    <div *ngIf="todo$ | async as todo; else loading">
      <form
        *ngIf="todoForm"
        [formGroup]="todoForm"
        (ngSubmit)="onSubmit()"
        class="formContainer"
      >
        <div class="inputContainer">
          <label for="title" class="labelText">Name of todo</label>
          <input
            type="text"
            id="title"
            formControlName="title"
            class="form-control inputField"
          />
        </div>

        <div class="inputContainer">
          <label for="categoryId" class="labelText">Category</label>
          <select
            type="text"
            id="categoryId"
            formControlName="categoryId"
            class="form-control inputField"
          >
            <option
              *ngFor="let category of categories$ | async"
              [value]="category.id"
            >
              {{ category.name }}
            </option>
          </select>
        </div>

        <div class="inputContainer">
          <label for="tagId" class="labelText">Tags</label>
          <select
            type="text"
            id="tagId"
            formControlName="tagId"
            class="form-control inputField"
          >
            <option
              *ngFor="let tag of tags$ | async; else: loading"
              [value]="tag.id"
            >
              {{ tag.name }}
            </option>
          </select>
        </div>

        <div class="inputContainer">
          <label for="statusId" class="labelText">Status</label>
          <select
            type="text"
            id="statusId"
            formControlName="statusId"
            class="form-control inputField"
          >
            <option
              *ngFor="let item of status$ | async; else: loading"
              [value]="item.id"
            >
              {{ item.name }}
            </option>
          </select>
        </div>

        <div class="inputContainer inputContainerFull">
          <label for="description" class="labelText">Description</label>
          <textarea
            type="text"
            id="description"
            class="form-control inputField"
            formControlName="description"
            rows="6"
          ></textarea>
        </div>

        <div class="submitContainer">
          <button type="submit" class="fc-button fc-button-primary" [disabled]="!todoForm.valid">
            <mat-icon>save</mat-icon>
            Save
          </button>
        </div>
      </form>
    </div>

    <ng-template #loading>
      <div class="loadingContainer">
        <img src="../../../assets/images/loading.svg" />
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
