<div class="content__faq">
    <div class="content__faq__wrapper">
        <div class="row">
            <div class="col-lg-6">
                <div ngbAccordion class="content__faq__single" id="faqAccordionOne">
                    <div ngbAccordionItem [collapsed]="false" class="content__faq__accordion__item">
                        <h2 ngbAccordionHeader class="content__faq__accordion__header">
                            <button ngbAccordionButton class="content__faq__accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What are your core services UX design and branding firm?
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="content__faq__accordion__content">
                                        <div class="content__faq__accordion__body">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem class="content__faq__accordion__item">
                        <h2 ngbAccordionHeader class="content__faq__accordion__header">
                            <button ngbAccordionButton class="content__faq__accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Do you work with clients in different timezones?
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="content__faq__accordion__content">
                                        <div class="content__faq__accordion__body">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem class="content__faq__accordion__item">
                        <h2 ngbAccordionHeader class="content__faq__accordion__header">
                            <button ngbAccordionButton class="content__faq__accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What separates you from other branding agencies?
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="content__faq__accordion__content">
                                        <div class="content__faq__accordion__body">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem class="content__faq__accordion__item">
                        <h2 ngbAccordionHeader class="content__faq__accordion__header">
                            <button ngbAccordionButton class="content__faq__accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How much does hiring you for a design project cost?
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="content__faq__accordion__content">
                                        <div class="content__faq__accordion__body">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem class="content__faq__accordion__item">
                        <h2 ngbAccordionHeader class="content__faq__accordion__header">
                            <button ngbAccordionButton class="content__faq__accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Can you help us redesign our B2B/enterprise software?
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="content__faq__accordion__content">
                                        <div class="content__faq__accordion__body">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem class="content__faq__accordion__item">
                        <h2 ngbAccordionHeader class="content__faq__accordion__header">
                            <button ngbAccordionButton class="content__faq__accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Do you work with startups?
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="content__faq__accordion__content">
                                        <div class="content__faq__accordion__body">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div ngbAccordion class="content__faq__single" id="faqAccordionOne">
                    <div ngbAccordionItem class="content__faq__accordion__item">
                        <h2 ngbAccordionHeader class="content__faq__accordion__header">
                            <button ngbAccordionButton class="content__faq__accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What are your core services UX design and branding firm?
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="content__faq__accordion__content">
                                        <div class="content__faq__accordion__body">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem class="content__faq__accordion__item">
                        <h2 ngbAccordionHeader class="content__faq__accordion__header">
                            <button ngbAccordionButton class="content__faq__accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Do you work with clients in different timezones?
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="content__faq__accordion__content">
                                        <div class="content__faq__accordion__body">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [collapsed]="false" class="content__faq__accordion__item">
                        <h2 ngbAccordionHeader class="content__faq__accordion__header">
                            <button ngbAccordionButton class="content__faq__accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What separates you from other branding agencies?
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="content__faq__accordion__content">
                                        <div class="content__faq__accordion__body">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem class="content__faq__accordion__item">
                        <h2 ngbAccordionHeader class="content__faq__accordion__header">
                            <button ngbAccordionButton class="content__faq__accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How much does hiring you for a design project cost?
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="content__faq__accordion__content">
                                        <div class="content__faq__accordion__body">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem class="content__faq__accordion__item">
                        <h2 ngbAccordionHeader class="content__faq__accordion__header">
                            <button ngbAccordionButton class="content__faq__accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Can you help us redesign our B2B/enterprise software?
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="content__faq__accordion__content">
                                        <div class="content__faq__accordion__body">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem class="content__faq__accordion__item">
                        <h2 ngbAccordionHeader class="content__faq__accordion__header">
                            <button ngbAccordionButton class="content__faq__accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Do you work with startups?
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="content__faq__accordion__content">
                                        <div class="content__faq__accordion__body">
                                            However, our passion for branding and the demand from our clients led us to expand our offering to provide full-service brand design practice and web design and development of marketing websites.
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>