<div class="content__wrapper">
  <div class="content__section-wrapper">
    <div class="content__feature mb-40">
      <div class="content__feature__card dashboard__bg">
        <div class="content__feature__card dashboard__overlay">
          <div class="dashboard">
            <div class="dashboard__body">
              <p class="mb-0 dashboard__title1">Todo App</p>
              <br />
              <p class="mb-0 dashboard__title2">developed in Angular - Spring Boot</p>
              <br />
              <img
                src="../../../../assets/img/angular-spring.png"
                width="140"
                alt=""
              />
            </div>
            <div class="dashboard__footer">www.davidebalice.dev</div>
          </div>
        </div>
      </div>
      <div class="content__feature__card">
        <div class="demo__container">
          <span class="todo_text1">DEMO MODE</span>
          <br />
          <br />
          <span class="todo_text2"
            >Demo mode is active, crud operations
            <br />
            are not allowed (write, update, delete).</span
          >
        </div>
      </div>
      <div class="content__feature__card">
        <div class="mb-3 github__container">
          <img src="../../../../assets/img/github.png" class="github" />

          <div class="github__button__container">
            <div class="dash__button">
              <a
                href="https://github.com/davidebalice/spring-boot-todo-api"
                target="_blank"
                >Backend</a
              >
            </div>
            <div class="dash__button">
              <a
                href="https://github.com/davidebalice/angular-todo-app"
                target="_blank"
                >Frontend</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content__section content__section--transparent content__review">
      <div class="content__section__header">
        <div class="content__section__header__title-part">
          <h4 class="content__section__header__title">Last Todo</h4>
          <p class="content__section__header__subtitle">
            Eum fuga consequuntur ut et.
          </p>
        </div>
        <div class="content__section__header__content-part">
          <div
            class="content__section__header__btn content__section__header__swiper-btn"
          >
            <div class="swiper-btn swiper-btn-prev">
              <i class="uil-arrow-left"></i>
            </div>
            <div class="swiper-btn swiper-btn-next">
              <i class="uil-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="content__section__content">
        <div class="swiper-container" #userReview>
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let data of userReviewData">
              <div class="content__review__single">
                <div class="content__review__single__header">
                  <div class="content__review__single__header__img">
                    <img src="{{ data.img }}" alt="User" />
                  </div>
                  <div class="content__review__single__header__text">
                    <h4 class="content__review__single__header__title">
                      {{ data.author }}
                    </h4>
                    <p class="content__review__single__header__subtitle">
                      {{ data.duration }}
                    </p>
                  </div>
                </div>
                <div class="content__review__single__content">
                  <p class="content__review__single__content__text">
                    {{ data.content }}
                  </p>
                </div>
                <div
                  class="content__review__single__bottom"
                  *ngIf="!data.status"
                >
                  <a
                    href="javascript:void(0);"
                    class="content__review__single__btn danger-color"
                    >Archive</a
                  >
                  <a
                    href="javascript:void(0);"
                    class="content__review__single__btn success-color"
                    >Accept</a
                  >
                </div>
                <div
                  class="content__review__single__bottom"
                  *ngIf="data.status"
                >
                  <a
                    href="javascript:void(0);"
                    class="content__review__single__btn success-color"
                    >Publish <i class="uil-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
