<div class="authentication-page">
    <main class="content">
		<div class="content__authentication content__authentication--forgot-password">
			<div class="content__authentication__content">
				<div class="content__authentication__content__wrapper">
					<div class="content__authentication__content__logo">
						<a [routerLink]="['/']">
							<img src="./assets/img/logo.svg" alt="">
						</a>
					</div>
					<form id="signInForm" class="content__authentication__form">
						<h2 class="content__authentication__title">Two Step Verification 👋</h2>
						<p class="content__authentication__desc">We sent a verification code to your mobile. Enter the code from the mobile in the field below. <span class="verification-number">*******1427</span></p>
						<div class="content__authentication__form-group">
							<label for="emailSignIn">Type your 6 digits security code</label>
							<div class="content__authentication__form-group__code">
                                <ng-otp-input [config]="config"></ng-otp-input>
							</div>
						</div>
						<button type="submit" class="content__authentication__form-submit">Verify My Account</button>
						<div class="content__authentication__form-footer">
							Didn’t get the code? <a href="javascript:void(0);">Resend</a>
						</div>
					</form>
				</div>
			</div>	
			<div class="content__authentication__img">
				<img src="./assets/img/authentication.svg" alt="">
			</div>
		</div>
	</main>
</div>