<form
  class="searchContainer"
  [formGroup]="searchForm"
  (ngSubmit)="onSearch(searchInput.value, idCategory.value)"
>
  <div class="inputContainer">
    <input
      #searchInput
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      class="inputField heightInput"
    />
  </div>

  <div class="inputContainer">
    <select
      type="text"
      id="idCategory"
      #idCategory
      formControlName="idCategory"
      class="inputField heightInput"
    >
      <option value="0">Select Category</option>
      <option
        *ngFor="let category of categories$ | async"
        [value]="category.id"
      >
        {{ category.name }}
      </option>
    </select>
  </div>

  <button class="buttonBase" type="submit">
    <mat-icon>search</mat-icon>
  </button>
</form>
