<div class="listRow" *ngIf="todo">
  <div class="tab-content transaction-content">
    <div
      class="tab-pane fade active show"
      id="todo_list_content"
      role="tabpanel"
      aria-labelledby="todo_list_tab"
    >
      <div class="content__todo__list">
        <div class="content__todo__list__single">
          <div class="content__todo__list__single__text">
            <span class="content__todo__list__single__subtitle">{{
              formatDate(todo.createdAt)
            }}</span>
            <h4 class="content__todo__list__single__title">{{ todo.title }}</h4>
          </div>

          <div class="content__todo__list__single__tag">
            <a
              href="javascript:void(0);"
              class="content__todo__list__single__tag__item"
            >
              <i class="uil uil-tag-alt"></i> {{ todo.tag?.name }}
            </a>
          </div>

          <div class="content__todo__list__single__author">
            <a
              href="javascript:void(0);"
              class="content__todo__list__single__author__img"
            >
              <img src="" alt="avatar" />
            </a>
          </div>

          <button
            class="cardButton"
            (click)="onEditTodo(todo.id)"
            matTooltipPosition="above"
            matTooltipShowDelay="100"
            matTooltipHideDelay="100"
            matTooltip="Edit"
          >
            <mat-icon class="editButton">edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--div>
  <img
    [src]="
      (getFullImageUrl(todo.imageUrl) | protectedImage | async) ||
      'assets/images/nophoto.jpg'
    "
    alt="{{ todo.name }}"
    class="listImg"
    (click)="openImageDialog(todo.imageUrl, 'todos/image')"
  />
</div>

<div class="listBody">
  <h5 class="listTitle">{{ todo.name }}</h5>
  <p class="listText"><b>Sku:</b> 000000000</p>
</div>

<div class="listBody">
  <div>{{ todo.categoryDto.name }}</div>
</div>

<div class="cardButtonContainer">
  <button
    class="cardButton"
    matTooltipPosition="above"
    matTooltipShowDelay="100"
    matTooltipHideDelay="100"
    matTooltip="Detail"
    (click)="openDialog(todo.id)"
  >
    <mat-icon class="viewButton">article</mat-icon>
  </button>

 



  <button
    class="cardButton"
    (click)="onPhotoTodo(todo.id)"
    matTooltipPosition="above"
    matTooltipShowDelay="100"
    matTooltipHideDelay="100"
    matTooltip="Photo"
  >
    <mat-icon class="editButton">photo_camera</mat-icon>
  </button>

  <button
    class="cardButton"
    (click)="onGalleryTodo(todo.id)"
    matTooltipPosition="above"
    matTooltipShowDelay="100"
    matTooltipHideDelay="100"
    matTooltip="Gallery"
  >
    <mat-icon class="editButton">photo_library</mat-icon>
  </button>

  <button
    class="cardButton cardButtonDelete"
    (click)="onDelete(todo.id, todo.name)"
    matTooltipPosition="above"
    matTooltipShowDelay="100"
    matTooltipHideDelay="100"
    matTooltip="Delete"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div-->
