<div class="list-row" *ngIf="todo">
  <div class="tab-content transaction-content">
    <div
      class="tab-pane fade active show"
      id="todo_list_content"
      role="tabpanel"
      aria-labelledby="todo_list_tab"
    >
      <div class="content__todo__list">
        <div class="list-row-item">
          <div
            class="content__todo__text_container"
            (click)="openTodoDialog(todo)"
          >
            <span class="content__todo__list__single__subtitle">{{
              formatDate(todo.date)
            }}</span>
            <p class="content__todo__list__single__title">
              {{ todo.title }}
            </p>
            <p class="content__todo__list__single__subtitle">
              {{ todo.description }}
            </p>
          </div>

          <div>
            <div class="containerTodoTag">
              <div
                class="containerTodoTagItem"
                [ngStyle]="{
                'background-color': todo.tag?.color,
              }"
                *ngIf="todo.tag?.name"
              >
                <mat-icon *ngIf="todo.tag?.icon" class="containerTodoTagIcon">
                  {{ todo.tag?.icon }}
                </mat-icon>
                <span>{{ todo.tag?.name }}</span>
              </div>

              <div
                href="javascript:void(0);"
                class="containerTodoTagItem"
                [ngStyle]="{
              'background-color': todo.status?.color,
            }"
                *ngIf="todo.status?.name"
              >
                <mat-icon
                  *ngIf="todo.status?.icon"
                  class="containerTodoTagIcon"
                >
                  {{ todo.status?.icon }}
                </mat-icon>
                <span>{{ todo.status?.name }}</span>
              </div>
            </div>

            <div class="cardButtonContainer">
              <button class="cardButton" (click)="onEdit(todo.id)">
                <mat-icon class="cardButtonIcon">edit</mat-icon>
              </button>

              <button
                class="cardButton"
                (click)="onDelete(todo.id, todo.title)"
              >
                <mat-icon class="cardButtonIcon">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
