<div class="listRow">
  <div>
    <img
      [src]="
        getFullImageUrl(todo.imageUrl)
          | protectedImage
          | async
          | defaultImage : 'assets/images/nophoto.jpg'
      "
      alt="{{ todo.name }}"
      class="listImg"
      (click)="openImageDialog(todo.imageUrl,'todos/image')"
    />
  </div>

  <div class="listBody">
    <h5 class="listTitle">{{ todo.name }}</h5>
    <p class="listText"><b>Sku:</b> 000000000</p>
  </div>

  <div class="listBody">
    <!--div>{{ todo.categoryDto.name }}</div-->
  </div>

  

  <div class="cardButtonContainer">
    <button
      class="cardButton"
      matTooltipPosition="above"
      matTooltipShowDelay="100"
      matTooltipHideDelay="100"
      matTooltip="Detail"
      (click)="openDialog(todo.id)"
    >
      <mat-icon class="viewButton">article</mat-icon>
    </button>

    <button
      class="cardButton"
      (click)="onEditTodo(todo.id)"
      matTooltipPosition="above"
      matTooltipShowDelay="100"
      matTooltipHideDelay="100"
      matTooltip="Edit"
    >
      <mat-icon class="editButton">edit</mat-icon>
    </button>

    <button
      class="cardButton"
      (click)="onAttributeTodo(todo.id)"
      matTooltipPosition="above"
      matTooltipShowDelay="100"
      matTooltipHideDelay="100"
      matTooltip="Attributes"
    >
      <mat-icon class="editButton">sell</mat-icon>
    </button>

    <button
      class="cardButton"
      (click)="onPhotoTodo(todo.id)"
      matTooltipPosition="above"
      matTooltipShowDelay="100"
      matTooltipHideDelay="100"
      matTooltip="Photo"
    >
      <mat-icon class="editButton">photo_camera</mat-icon>
    </button>

    <button
      class="cardButton"
      (click)="onGalleryTodo(todo.id)"
      matTooltipPosition="above"
      matTooltipShowDelay="100"
      matTooltipHideDelay="100"
      matTooltip="Gallery"
    >
      <mat-icon class="editButton">photo_library</mat-icon>
    </button>

    <button
      class="cardButton cardButtonDelete"
      (click)="onDelete(todo.id,todo.name)"
      matTooltipPosition="above"
      matTooltipShowDelay="100"
      matTooltipHideDelay="100"
      matTooltip="Delete"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
