


<button (click)="onBack()" class="fc-button fc-button-primary">
  <mat-icon>backspace</mat-icon>
  Todos
</button>

<br />


<mat-card class="pageCard">
  <mat-card-content>
    <div class="buttonContainer">
      <button (click)="onNewStatus()" class="fc-button fc-button-primary">
        <mat-icon>add_circle</mat-icon>
        New category
      </button>
    </div>

    <hr />

    <div class="row">
      <ng-container *ngIf="isLoading; else loadedContent">
        <div class="loadingContainer">
          <img src="../../../assets/images/loading.svg" />
        </div>
      </ng-container>

      <ng-template #loadedContent>
        <ng-container *ngIf="status.length > 0; else noStatus">
          <div class="listRow" *ngFor="let category of status">
            <div class="listBody">
              <mat-icon *ngIf="category.icon" [style.color]="category.color">{{ category.icon }}</mat-icon>
              <div class="listTitle">{{ category.name }}</div>
            </div>

            <div class="cardButtonContainer">
              <button
                class="fc-button fc-button-primary"
                (click)="onEditStatus(category.id)"
                matTooltipPosition="above"
                matTooltipShowDelay="100"
                matTooltipHideDelay="100"
                matTooltip="Edit"
              >
                <mat-icon class="editButton">edit</mat-icon>
              </button>

              <button
                class="fc-button fc-button-primary"
                (click)="onDelete(category.id, category.name)"
                matTooltipPosition="above"
                matTooltipShowDelay="100"
                matTooltipHideDelay="100"
                matTooltip="Delete"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-template>

      <ng-template #noStatus>
        <div class="noData">No category available.</div>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
