:root {
  --primary-color: #3b9ae4;
  --secondary-color: #52a8eb;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flexRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-toggle::after {
  display: none;
}
a {
  text-decoration: none;
}
.dropdown-menu {
  border: none;
}
.dropdown {
  display: contents;
}
.form-control:focus {
  box-shadow: none;
}
.modal-content {
  border: none;
}
.nav-tabs .nav-link {
  border: none;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none;
}
.content__todo__header__filter,
.nav-tabs {
  border: none;
}
.nav-tabs .nav-link.active {
  background-color: rgba(59, 154, 228, 0.8);
  color: #fff !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.nav-tabs .nav-link.active span {
  color: #fff !important;
}
.nav-tabs .nav-link.active .mat-icon {
  color: #fff !important;
}
.offcanvas.offcanvas-end {
  width: auto;
}
.content__widget__single__content:last-child {
  margin-bottom: 0;
}
.mb-20 {
  margin-bottom: 20px;
}
.content__faq__accordion__item {
  border-radius: 16px !important;
  border: none;
}
.accordion-button:focus {
  box-shadow: none !important;
}

// accordion
.accordion-body {
  padding: 0;
}
.accordion-button {
  border-radius: 10px !important;
}
.accordion-button:not(.collapsed) {
  color: var(--body-color);
  background-color: transparent;
  box-shadow: none;
}

// Calendar
.fc-daygrid-event-dot {
  display: none;
}
.fc-button-group {
  gap: 12px;
}
.fc-button.fc-button-primary {
  height: auto;
  margin: 0;
  padding: 10px 12px;
  border-radius: 6px !important;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 8px;
  align-items: center;
  color: white !important;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color) !important;
}
.fc-button.fc-button-primary:hover,
.fc-button.fc-button-primary.fc-button-active {
  border-color: var(--secondary-color) !important;
  background: var(--secondary-color) !important;
}
.fc-button.fc-button-primary:focus,
.fc-button.fc-button-primary.fc-button-active:focus {
  box-shadow: none !important;
}
.fc .fc-button-group > .fc-prevYear-button.fc-button,
.fc .fc-button-group > .fc-nextYear-button.fc-button,
.content__calendar__content .calendar .fc-header-toolbar .fc-prev-button:before,
.content__calendar__content
  .calendar
  .fc-header-toolbar
  .fc-next-button:before {
  display: none;
}

.sidebar__header {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.sidebar__menu__link {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding-bottom: 30px;
  display: flex;
  justify-content: start;
  border-radius: 6px !important;
  transition: none !important;
}
.sidebar__menu__link.active {
  background: var(--primary-color) !important;
  color: #ffffff !important;
}

.sidebar__menu__link.active span {
  background: var(--primary-color) !important;
  color: #ffffff !important;
  transition: none !important;
}
.sidebar__menu__link:hover {
  background: var(--secondary-color) !important;
  color: #ffffff !important;
}
.sidebar__menu__link:hover span {
  background: var(--secondary-color) !important;
  color: #ffffff !important;
}

.sidebar__menu__link.active .mat-icon {
  color: #fff !important;
}

.sidebar__menu__link:hover .mat-icon {
  color: #fff !important;
}

.inputField {
  box-shadow: 0px 0px 9px 0px rgb(0, 0, 0, 0.1) inset;
  margin-top: 5px;
}

.inputFieldColor {
  max-width: 150px !important;
  padding: 0px !important;
  height: 36px;
  cursor: pointer;
}

.submitContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.formContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.inputContainer {
  width: 49%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputContainerFull {
  width: 100%;
}

.spacer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.sideTagsTitle {
  width: 100%;
  text-align: center;
  background-color: #f1f1f1;
  color: #444;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 16px;
}

.sideTagsTitle .mat-icon {
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  justify-content: center;
  background-color: white;
}

.sideTagsTitle .mat-icon:hover {
  background-color: var(--primary-color);
  color: white;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.iconContainer label {
  width: 70px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.iconContainer input {
  width: 17px;
  height: 17px;
}

.main-content {
  gap: 40px !important;
  padding-inline-start: 360px !important;
}

@media (max-width: 1500px) {
  .main-content {
    gap: 30px !important;
    padding-inline-start: 320px !important;
  }
}

@media (max-width: 1200px) {
  .main-content {
    gap: 0px !important;
    padding-inline-start: 0px !important;
  }
}

.content__todo__sidebar {
  width: 270px !important;
  min-width: 270px !important;
}

@media (max-width: 1200px) {
  .sidebar-mobile {
    display: block !important;
  }
}

.close-sidebar {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

@media (max-width: 1492px) {
  .content__todo__sidebar__tab .nav-item .nav-link {
    flex-direction: row !important;
    align-items: flex-start;
    gap: 10px;
    text-align: left;
  }
}

.nav-item :hover {
  background-color: #f9f9f9;
}

.side-link {
  padding: 8px 10px !important;
  font-size:13px;
  flex-direction: row !important;
  align-items: center !important;
}
