


<button (click)="onBack()" class="fc-button fc-button-primary">
  <mat-icon>backspace</mat-icon>
  Todos
</button>

<br />


<mat-card class="pageCard">
  <mat-card-content>
    <div class="buttonContainer">
      <button (click)="onNewTag()" class="fc-button fc-button-primary">
        <mat-icon>add_circle</mat-icon>
        New tag
      </button>
    </div>

    <hr />

    <div class="row">
      <ng-container *ngIf="isLoading; else loadedContent">
        <div class="loadingContainer">
          <img src="../../../assets/images/loading.svg" />
        </div>
      </ng-container>

      <ng-template #loadedContent>
        <ng-container *ngIf="tags.length > 0; else noTag">
          <div class="listRow" *ngFor="let tag of tags">
            <div class="listBody">
              <mat-icon *ngIf="tag.icon" [style.color]="tag.color">{{ tag.icon }}</mat-icon>
              <div class="listTitle">{{ tag.name }}</div>
            </div>

            <div class="cardButtonContainer">
              <button
                class="fc-button fc-button-primary"
                (click)="onEditTag(tag.id)"
                matTooltipPosition="above"
                matTooltipShowDelay="100"
                matTooltipHideDelay="100"
                matTooltip="Edit"
              >
                <mat-icon class="editButton">edit</mat-icon>
              </button>

              <button
                class="fc-button fc-button-primary"
                (click)="onDelete(tag.id, tag.name)"
                matTooltipPosition="above"
                matTooltipShowDelay="100"
                matTooltipHideDelay="100"
                matTooltip="Delete"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-template>

      <ng-template #noTag>
        <div class="noData">No tag available.</div>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
