<h5>Todos > Categories > New</h5>
<hr />

<mat-card class="pageCard">
  <mat-card-content>
    <button type="button" class="buttonBase buttonBack" (click)="onBack()">
      <mat-icon> chevron_left</mat-icon>
      Back
    </button>

    <form
      [formGroup]="categoryForm"
      (ngSubmit)="onSubmit()"
      class="formContainer"
    >
      <div class="inputContainer inputContainerFull">
        <label for="name" class="labelText">Name of category</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="inputField"
        />
      </div>

      <div class="inputContainer inputContainerFull">
        <label for="description" class="labelText">Description</label>
        <textarea
          type="text"
          id="description"
          class="inputField"
          formControlName="description"
          rows="6"
        ></textarea>
      </div>


      <div class="submitContainer">
        <button
          type="button"
          class="buttonBase buttonCancel"
          (click)="onCancel()"
        >
          <mat-icon>cancel</mat-icon>
          Cancel
        </button>
        <button
          type="submit"
          class="buttonBase"
          [disabled]="!categoryForm.valid"
        >
          <mat-icon>add_circle</mat-icon>
          Add category
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
