/*---------------------------------------
#. Variables
---------------------------------------*/

:root {
  --primary-color: #3b9ae4;
  --secondary-color: #52a8eb;
  --dark-color: #17161e;
  --body-color: #464255;
  --desc-color: #3b3741;
  --sec-color: #a3a3a3;
  --gray-color: #eceaf3;
  --grayTwo-color: #d0d6de;
  --grayThree-color: #b9bbbd;
  --section-color: #f3f2f7;
  --sectionTwo-color: #f5f4f9;
  --sectionThree-color: #fcfcfc;
  --light-color: #fdfdfd;
  --white-color: #ffffff;
  --success-color: #00a389;
  --warning-color: #ffbb54;
  --danger-color: #ff5b5b;
  --pink-color: #167ccb;
  --info-color: #58cdff;
  --tertiary-color: #ef9a91;
  --quatinery-color: #f1e6b9;
  --dark-color-transparent: #17161e26;
  --primary-color-transparent: #167ccb;
  --success-color-transparent: #2ed6a326;
  --warning-color-transparent: #ffbb5426;
  --info-color-transparent: #58cdff26;
  --danger-color-transparent: #ff5b5b26;
  --poppins: "Poppins", sans-serif;
}
